<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customerService" class="com.kan.spring.primitive.CustomerService">
        <property name="name" value="kan"/>
        <property name="url" value="http://g.com"/>
    </bean>
    <bean id="hijackBeforeMethodBean" class="com.kan.spring.aop.HijackBeforeMethod"></bean>
    <bean id="hijackAfterMethodBean" class="com.kan.spring.aop.HijackAfterMethod"></bean>
    <bean id="hijackThrowExceptionBean" class="com.kan.spring.aop.HijackThrowException"></bean>
    <bean id="hijackAroundMethodBean" class="com.kan.spring.aop.HijackAroundMethod"></bean>
    <!-- 执行前 -->
    <bean id="customerServiceBeforeProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"></property>
        <property name="interceptorNames">
            <list>
                <value>hijackBeforeMethodBean</value>
            </list>
        </property>
    </bean>
    <!-- 执行后(正常) -->
    <bean id="customerServiceAfterProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"></property>
        <property name="interceptorNames">
            <list>
                <value>hijackAfterMethodBean</value>
            </list>
        </property>
    </bean>
    <!-- 执行后(异常) -->
    <bean id="customerServiceThrowProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"></property>
        <property name="interceptorNames">
            <list>
                <value>hijackThrowExceptionBean</value>
            </list>
        </property>
    </bean>
    <!-- 执行后(异常) -->
    <bean id="customerServiceAroundProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"></property>
        <property name="interceptorNames">
            <list>
                <value>hijackAroundMethodBean</value>
            </list>
        </property>
    </bean>
</beans>