<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.mapper.blogger.AuthorMapper">

    <!-- 开启本mapper的namespace下的二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <resultMap id="authorMap" type="Author">
        <id property="id" column="author_id"/>
        <result property="userName" column="author_username"/>
        <result property="password" column="author_password"/>
        <result property="email" column="author_email"/>
        <result property="bio" column="author_bio"/>
        <result property="favouriteSection" column="author_favourite_section"/>
    </resultMap>
    <update id="updateAuthorById" parameterType="Author">
        UPDATE tb_author SET author_bio = #{bio} WHERE author_id = #{id}
    </update>

    <select id="getAuthor" parameterType="int" resultMap="authorMap">
        SELECT * FROM tb_author WHERE author_id=#{id}
    </select>

    <delete id="deleteAuthorById" parameterType="int">
        DELETE  FROM tb_author WHERE author_id=#{id}
    </delete>
</mapper>